// Colors

// Color scheme - src: https://www.schemecolor.com/old-library-color-scheme.php
$darkSlateGray: #325453;
$cadet: #517174;
$fireOpal: #ef5d58;
$burlywood: #dcbe87;
$darkGold: #ad6a34;
$frenchPuce: #4e1d04;

// Spacing
$s-size: 1.2rem;
$m-size: 1.6rem;
$l-size: 3.2rem;
$xl-size: 4.8rem;
